@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* universal selector */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'sans-serif';
  color: #0d0424;
  font-weight: bold;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* BACKGROUND STYLE */
.bg {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* BACKGROUND STYLE END */
