@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

/* universal selector */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'sans-serif';
  color: #0d0424;
  font-weight: bold;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

.middle-grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.weather-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 2rem;
}
