/* #note {
  display: flex;

  /* width: 100%; */

.notes-container {
  display: flex;
  align-items: flex-end;
  width: 90%;
  max-width: 400px;
  /* margin-bottom: 2rem; */
  margin-right: 2rem;
  animation: slideOn 1s;
}

.slide-off {
  animation: slideOff 1s;
}

@keyframes slideOn {
  from {
    transform: translateX(180%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOff {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(180%);
  }
}

.control-note-btns {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5rem;
}

.notes-container .btn {
  background-color: rgb(150, 149, 149);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
}

.notes-container .btn#add,
.notes-container .btn#remove,
.notes-container .btn#save {
  margin-right: 0.5rem;
}

.notes-container .btn.btn-change {
  display: block;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}

.notes-container .btn.btn-change.active {
  background-color: orange;
}

.notes-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#note-area {
  background-color: rgba(189, 193, 196, 0.7);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  border: none;
  height: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  resize: none;
}

.btn.open-notes-btn {
  background-color: rgb(150, 149, 149);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  width: 50px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin-right: 2rem;
  margin-bottom: 2rem;
  transition: transform 0.5s;
}

.slide-off-btn {
  transform: translateY(200%);
}

.notes-outer {
  display: flex;
  flex-direction: column-reverse;
}
