/* #weather {
  display: flex;
  justify-content: flex-start;
  align-items: center;
} */

#weather-card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  background-color: rgba(153, 153, 153, 0.5);
  width: 300px;
  max-width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 2rem;
  margin-right: 2rem;
  /*   z-index: 1;
  position: absolute; */
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  font-size: 80px;
}

.box {
  background-color: rgb(150, 149, 149);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
  margin: 5px 0;
  border-radius: 10px;
  letter-spacing: 1px;
}

.temp-data {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.temp-data .box {
  width: 40%;
}

.temp-data #current-prec {
  position: absolute;
  right: 0;
  width: 20%;
}

.no-precip {
  display: none;
}

.time {
  display: flex;
  justify-content: space-between;
}

.time .box {
  width: 40%;
  margin: 0;
}
